# Rust / Cargo
Cargo.lock
target/
example-contracts/
# Expanded rust
expanded.rs

.idea/

# Maven with auto-import, exclude module files
*.iml

Account-A.pk
Account-B.pk
Account-C.pk

zk-crowdfunding-frontend/node_modules/
zk-crowdfunding-frontend/dist/
.env
.DS_Store